body{
    background-color:rgb(87, 92, 92);
    text-align:center;
    padding-right: 60px;
    padding-left: 60px;
  }

  img{
    padding-right: 50px;
    padding-left: 50px;
  }

  #isqueiro{
    width: 200px;
  }
  
  
  #tema{
    width: 300px;
  }

  h1{
    font-family: 'Lobster', cursive;
    font-size: 70px;
  }

  button {
    background-color: dimgrey;
    border-style: solid;
    border-color: black;
    color: black;
    border-radius: 50px;
    padding: 5px;
  }